run = "bash start.sh"
language = "python"
entrypoint = "backend/app.py"
hidden = [".config", "**/__pycache__", "**/.pytest_cache"]

[nix]
channel = "stable-23_05"

[deployment]
run = ["sh", "-c", "./start.sh"]
deploymentTarget = "cloudrun"

[env]
PYTHONPATH = "${PYTHONPATH}:${REPL_HOME}"
PATH = "${PATH}:/home/runner/${REPL_SLUG}/.config/npm/node_global/bin:/home/runner/${REPL_SLUG}/node_modules/.bin"
PYTHON = "python"
FLASK_ENV = "development"
FLASK_APP = "backend/app.py"

[packager]
language = "python3"
  [packager.features]
  enabledForHosting = true
  packageSearch = true
  guessImports = true 